
extends layout

block append vars
	- bodyclass = 'article-detail'

block prepend title
	| #{ page.title + " - "}

block header
	h1= page.title

block content
	article.article
		section.content!= typogr(page.html).typogrify()

		h1 Open Source Contribution
		if env.helpers.github
			ul
				each item in env.helpers.github.popular
					li
						strong
							a(href=item.html_url)= item.name
						span :&nbsp;
						span= item.description + '.'
		else
			p [Github could not be accessed]


block prepend footer
	div.nav
		a(href=contents.index.url) « Full blog
